

table.jCalendar {
    border-bottom: 1px solid #DFE1E2;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
table.jCalendar th {
	padding: 3px 2px 2px 2px;
	font-size: 12px;
	height: 16px;
	position: relative;
	width: 84px;
	background: none;
	color: #C3CACE;
	border: 0;
}

table.jCalendar td {
	background: #F9F9F9;
	color: #000;
	padding: 0 5px 3px 0;
	text-align: center;
	 font-size: 11px; width: 84px; height: 86px; background: #fff; position: relative; border: 2.5px solid #dfe1e2; border-collapse: separate; margin: 0; vertical-align: top; cursor: pointer; font-weight: normal;
}

table.jCalendar tr:first-child td {border-top-width: 3px;}

table.jCalendar td.other-month {
	background: #ddd;
	color: #aaa;
}
table.jCalendar td.today {
	background: #666;
	color: #fff;
}
table.jCalendar td.selected {
	background: #DDEDF6;
	color: #fff;
}
table.jCalendar td.selected.dp-hover {
	background: #fff;
	color: #fff;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
	border-color: #0078ae;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #bbb;
	color: #888;
}

div.dp-popup * {border-collapse: separate; border-spacing: 0;}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup 
 {position: relative; background-image: none; border: 4px solid #e2eff6; width: 690px;
border-top-color: #f3f8fb;
border-left-color: #ecf5f9;
border-right-color: #ecf5f9;
border-bottom-color: #e2eff6;
border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;
background: rgb(248,250,251); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZmFmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmZjZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(248,250,251,1) 0%, rgba(251,252,253,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,250,251,1)), color-stop(100%,rgba(251,252,253,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(248,250,251,1) 0%,rgba(251,252,253,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(248,250,251,1) 0%,rgba(251,252,253,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(248,250,251,1) 0%,rgba(251,252,253,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(248,250,251,1) 0%,rgba(251,252,253,1) 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fafb', endColorstr='#fbfcfd',GradientType=0 );  IE6-8 */
box-shadow: -2px 4px 7px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: -2px 4px 7px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: -2px 4px 7px rgba(0, 0, 0, 0.17);
    -webkit-border-image: 
    	-webkit-gradient(linear, 0 100%, 0 0, from(white), to(rgba(226, 239, 246, 0))) 0 100%;
    -webkit-border-image: 
    	-webkit-linear-gradient(bottom, white 1 100%);
    -o-border-image:
    	     -o-linear-gradient(bottom, white, rgba(226, 239, 246, 0)) 1 100%;
    -moz-border-image:
    	   -moz-linear-gradient(bottom, white, rgba(226, 239, 246, 0)) 1 100%; 
}

:root div.dp-popup {box-shadow: -2px 4px 12px rgba(0, 0, 0, 0.17) \0/IE9; }  /* IE9 + IE10pp4 */

div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 20px;
	text-align: center;
	color: #293033;
	width: 100%;
	margin: 0 0 10px 0;
	font-weight: bold;
	padding-top: 15px;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	width: 30px;
	height: 30px;
}

div.dp-popup div.dp-nav-prev a.dp-nav-prev-month, div.dp-popup div.dp-nav-next a.dp-nav-next-month
	{background-image: url(/_Assets/ParkSites/Images/btn/datepicker-prev-next-big.png);
	background-repeat: no-repeat;}

div.dp-popup div.dp-nav-prev a.dp-nav-prev-month {display: block; background-position: 0 0; font-size: 0; padding: 0;}
div.dp-popup div.dp-nav-next a.dp-nav-next-month {display: block; background-position: -30px 0; font-size: 0; padding: 0;}

div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}

div.dp-popup a.reservation-day {display: block; width: 25px; height: 25px; padding: 0; text-align: center; line-height: 25px; vertical-align: top; font-weight: bold;
float: left; background-color: #7FBBD6; color: #fff;}

table.jCalendar td.dp-hover a.reservation-day {background-color: #0078ae; color: #fff;}

div.dp-popup p {padding: 4px 0px; color: #293033}

div.dp-popup a.reservation-day + p {clear: both; padding-top: 6px;}


/*table.jCalendar td.disabled:hover  {background-color: #f9f9f9;  color: #fff;}*/

table.jCalendar td.other-month a.reservation-day {background-color: #ddd;  color: #aaa;}

table.jCalendar td.other-month  {background-color: #EDEDED;  color: #c3cad8;}
table.jCalendar td.other-month:hover  {background-color: #EDEDED;  color: #c3cad8; border-color: #0078ae;}
table.jCalendar td.other-month:hover a.reservation-day {background-color: #0078ae;  color: #fff;}

.dp-nav-prev-year {display: none;}.dp-nav-next-year {display: none;}

body table.jCalendar td.disabled {position: relative; left: inherit; top: inherit;}

div.dp-popup td.disabled {
	cursor: default;
	position: relative;
}
table.jCalendar td.disabled {
	background: #F9F9F9;
	color: #fff;
	left: auto;
	top: auto;
}

table.jCalendar td.disabled:hover {border-color: #DFE1E2; background-color: #F9F9F9;}
table.jCalendar td.disabled a.reservation-day {background-color: #ddd;  color: #fff;}
table.jCalendar td.other-month.disabled:hover a.reservation-day {background-color: #ddd;}
